body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 20px;
}

h1, h2, h3 {
  color: #2c3e50;
  text-align: center;
}

form {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  text-align: center;
}

header {
    position: fixed;
    top: 0;
    width: 99%;
    background: #3498db;
    padding: 0rem;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #3498db;   
}

nav ul {
    list-style: none;
    display: flex;
    gap: 0rem;
    background-color: #3498db;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}
nav a {
    color: Black;
    text-decoration: none;
}
label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  border: 1px solid #3498db;
  border-radius: 4px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #2980b9;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;

}

li {
  background-color: #3498db;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}
section {
    padding: 5rem 2rem;
    text-align: center;
}

/* cores por turma */
.turmaA { background-color: #d4efdf; border-left: 5px solid #27ae60; }
.turmaB { background-color: #fdebd0; border-left: 5px solid #e67e22; }
.turmaC { background-color: #d6eaf8; border-left: 5px solid #3498db; }
